{
    "tabWidth": 4,
    "singleQuote": true,
    "semi": true,
    "jsxBracketSameLine": false,
    "printWidth": 120,
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "singleQuote": false
            }
        }
    ]
}
